<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469701934291-03tjtt2r5ru44rnvbfvv58pvmke30r75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469701934291-03tjtt2r5ru44rnvbfvv58pvmke30r75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>469701934291-ju1efe384cb7chafsk280g0prnbh8bl7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChPV7RIRf6rSCRVIn0QUhMLArlZRGgdMw</string>
	<key>GCM_SENDER_ID</key>
	<string>469701934291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navi.navi</string>
	<key>PROJECT_ID</key>
	<string>navi-11b61</string>
	<key>STORAGE_BUCKET</key>
	<string>navi-11b61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469701934291:ios:6f1c4823a5bd7262e6e826</string>
	<key>DATABASE_URL</key>
	<string>https://navi-11b61-default-rtdb.firebaseio.com</string>
</dict>
</plist>